* {
    margin: 0%;
    padding: 0%;
}


/* header style  */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.flex {
    display: flex;
}

#layout {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    z-index: 99;
    margin: 0%;
}

#layout div:nth-child(1) {
    flex-basis: 30%;
    height: 10vh;
    text-align: right;
}

#layout div:nth-child(2) {
    flex-basis: 70%;
    /* border: 1px solid red; */
    height: 10vh;
    text-align: right;
    margin-right: 4%;
    margin-top: -2px;
    padding: 0% 11% 0% 0%;
}

#layout div:nth-child(1)>img {
    width: 115px;
    height: 35px;
    padding: 20px 7% 3.8% 0%;
}


/* Media query started  */

@media only screen and (max-width: 1000px) {}

.topnav .icon {
    display: none;
}

nav {
    /* background: #0082e6; */
    height: auto;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding: 0px 8px;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li a {
    color: rgb(29, 28, 28);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}

.signupButton {
    color: white;
    font-size: 13px;
    background-color: #00a2ff;
    padding: 6px 18px;
    border: none;
    border-radius: 3px;
}

.checkbtn {
    font-size: 25px;
    color: #272929;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 989px) {
    /* label.logo{
        font-size: 30px;
        padding-left: 50px;
    } */
    nav ul li a {
        font-size: 16px;
        text-decoration: none;
    }
}

@media (max-width: 989px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 80%;
        height: 30vh;
        background: #fff;
        border-radius: 7px;
        border: 1px solid rgb(216, 214, 214);
        top: 50px;
        margin: 7% 9% 0%;
        top: -100%;
        right: 8%;
        text-align: left;
        transition: all .5s;
        margin: 9% 0%;
        padding: 0%;
    }
    nav ul li {
        display: block;
        margin: 8px 0;
        line-height: 15px;
        padding-left: 20px;
    }
    #layout div:nth-child(2) {
        flex-basis: 60%;
        /* border: 1px solid red; */
        height: 10vh;
        text-align: right;
        margin-right: 1%;
        margin-top: 3px;
    }
    nav ul li a {
        font-size: 12px;
        line-height: 16px;
    }
    /* a:hover,a.active{
        background: none;
        color: #0082e6;
    } */
    #check:checked~ul {
        top: 0;
    }
}

section {
    /* background: url(bg1.jpg) no-repeat; */
    background-size: cover;
    height: calc(100vh - 80px);
}